%%-*- mode: erlang -*-
{erl_opts, [
        {i,"deps/cowboy/include/"},
        {src_dirs, ["src"]},
        {parse_transform, lager_transform}
    ]}.

{deps, [
    {lager, "3.9.2"},
    % Temporarily, we rely on a branch off of the 2.0.0-pre2 tag in official
    % cowboy, in a fork that is maintained by CrankWheel. The changes are very minor.
    % Once Cowboy 2 is released officially, hopefully the issues the changes
    % fix will be gone; if not, we will work to upstream fixes.
    {cowboy, ".*", {git, "https://github.com/CrankWheel/cowboy.git", {branch, "pete-upgradingExceptionsForOTP24"}}},
    {jiffy, "1.1.1"}
]}.
